@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* * {
  border: 1px red solid;
} */


.ninetyheight {
  height: 90vh;
}

.gradient {
  /* background: radial-gradient(
    hsl(150 100% 60%), 
    hsl(200 100% 60%) 
  ) fixed; */
  background: conic-gradient(
    hsl(180 100% 60%), 
    hsl(200 100% 60%),
    hsl(180 100% 60%)
  ) fixed;
  /* background: 
    radial-gradient(
     at center, #3498db, #9b59b6
    ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  scroll-behavior: smooth;
}